<h3>Thanks <%= @booking.user.email %>!</h3>
<p><%= image_tag "#{@booking.bot.photo}"%>
<h4>Your booking summary</h4>
<p>Thank you for booking <b><%= @booking.bot.name %></b>. Your booking has been placed successfully, and is pending for host approval.</p>
