<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>essai</p>
<div class="container">
  <div class="cards">
    <div class="card">
      <a href="app/assets/images/copain.jpeg"></a>
    </div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</div>
