
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dygywvyiq/image/upload/v1669128191/danceur_alclfo.jpg);">
  <div class="container">
    <h1>Welcome to <strong>BOT LOC</strong> the best <strong>bot loc service</strong>s!</h1>
    <p>Robots eliminate dangerous jobs for humans because they are capable of working in hazardous environments. </p>
    <a class="btn btn-flat" href="#">Start now</a>
  </div>
</div>
