<div class="container">
  <div class="row">
    <%= simple_form_for [@bot, @booking] do |f| %>
      <%= f.input :start, as: :date, required: false, input_html: {id: "range_start" } %>
      <%= f.input :end, as: :date, required: false, input_html: {id: "range_end"} %>
      <%= f.submit class: "btn-medium"%>
    <% end %>
  </div>
</div>
