<div class="container">
  <div class="row">
<%= simple_form_for [@bot, @booking], data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :start, as: :string, required: false, input_html: {id: "range_start", data: { flatpickr_target: "startTime" } }, label:"Début" %>
  <%= f.input :end, as: :string, required: false, input_html: {id: "range_end", data: { flatpickr_target: "endTime" } }, label: "Fin" %>
 <%= f.submit "Réserver", class: "btn-medium"%>
  <% end %>
</div>
</div>
