<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Bot</h1>
    <%# <h3 class="typed-js" data-controller="typed-js"></h3> %>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Bots</h3>
    <%= link_to "Add a new both", new_bot_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @bots.each do |bot| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
      <%= cl_image_tag bot.photo.key, height: 300, width: 400, crop: :fill %>
        <%= link_to bot_path(bot), class:"text-decoration-none" do %>
            <%= bot.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%# <div class="container">
  <div class="cards">
    <div class="card">
          <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img class="card__img" src="https://images.unsplash.com/photo-1664322046189-196a30a7f5e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80" alt="">
            <div class="card__info">❤︎</div>
          </div>
          <div class="swiper-slide">Photo 2</div>
          <div class="swiper-slide">Photo 3</div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
<script>
const swiper = new Swiper('.swiper', {
  // Optional parameters
  // direction: 'vertical',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script> %>
