// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "home";
@import "cards";
@import "card";
@import "swiper";
@import "banner";
@import "show";
@import "map";
@import "card-trip";
@import "container";
@import "logo";



body {
  background-color: white;
}

a {
  color: rgba(123, 0, 255, 0.426);
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}
